* {
  margin: 0;
  padding: 0;
}
:root {
  --body-background: #222;
  --input-background: #111;
  --input-focus-background: #000;
  --font-color: #fff;
  --primary-color: #cf6679;
  --primary-color-hover: #d64e67;
}

body {
  background: var(--body-background);
  color: var(--font-color);
  font-family: system-ui;
}
/* Start input */
.crud {
  width: 80%;
  margin: auto;
}
.head {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}
input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background: var(--input-background);
  margin: 4px 0;
  border-radius: 4px;
  padding: 8px;
  color: var(--font-color);
  font-size: large;
}
input:focus {
  background: var(--input-focus-background);
  transform: scale(1.1);
}
.price input {
  width: 20%;
}
#total {
  background: #cf6679;
  padding: 5px 2px;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  font-size: large;
}
#total::before {
  content: "Total: ";
}
button {
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  border-radius: 20px;
  margin: 10px 0;
  transition: 0.2s;
  font-size: large;
  font-weight: bold;
  padding: 10px;
}
button:hover {
  background-color: var(--primary-color-hover);
  /* letter-spacing: 2px; */
}
.btn-search {
  display: flex;
  justify-content: space-between;
}
.btn-search button {
  width: 45%;
}
/* End input */
/* Start output */
#deleteAll {
  margin-top: 10px;
}
table {
  width: 100%;
  text-align: center;
  margin: 10px;
}
table th {
  text-transform: uppercase;
}
th,
td {
  padding: 5px;
}
/* End output */
